<div class="container">
  <div class="item" (click)="clicked('PIN')">
    <fa-icon class="icon" [icon]="pinIcon"></fa-icon>
    <div class="value">Epingler le message</div>
  </div>

  <div class="item" (click)="clicked('COPY')">
    <fa-icon class="icon" [icon]="copyIcon"></fa-icon>
    <div class="value">Copier le message</div>
  </div>

  <div class="item" (click)="clicked('EDIT')">
    <fa-icon class="icon" [icon]="editIcon"></fa-icon>
    <div class="value">Modifier le message</div>
  </div>

  <div class="item" (click)="clicked(data.delete ? 'DEEP_DELETE' : 'DELETE')">
    <fa-icon class="icon" [icon]="trashIcon"></fa-icon>
    <div class="value">{{ data.delete ? "Suppression définitive" : "Supprimer le message" }}</div>
  </div>
</div>
