.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.7s;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;

    .icon {
      font-size: 18px;
    }

    .value {
      font-size: 16px;
    }
  }
}
