.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 40px;
  position: relative;

  .new-message {
    position: absolute;
    bottom: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 5px;
    margin-top: 1px;
  }

  .actions {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .reply {
      display: grid;
      grid-template-areas: "label cancel" "message cancel";
      grid-template-columns: 1fr 30px;

      label {
        grid-area: label;
      }

      .message {
        grid-area: message;
        color: var(--white);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .cancel {
        grid-area: cancel;
        display: flex;
        align-items: center;

        .icon {
          color: var(--white);
          padding: 5px 10px;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }
}

.reply-active {
  grid-template-rows: 1fr 85px;
}
