<div class="container" [ngClass]="{ 'reply-active': replyMessage }">
  <div class="messages {{ 'overflow-' + color.id }}" #messagesRef (scroll)="onScroll($event)">
    <app-message
      *ngFor="let message of messages"
      [message]="message"
      [color]="color"
      [userId]="user.uid"
      (replied)="reply($event)"
      (actionEnabled)="actionCalled($event)"
    ></app-message>
  </div>

  <div class="actions" [style]="replyMessage ? 'box-shadow: 1px 0 3px' + color.message.owner + ';' : ''">
    <div class="reply" *ngIf="replyMessage">
      <label>Réponse à {{ replyMessage.ownerId | owner }} </label>
      <div class="message">{{ replyMessage.value }}</div>
      <div class="cancel">
        <fa-icon class="icon" [icon]="cancelReplyIcon" (click)="cancelReply()"></fa-icon>
      </div>
    </div>
    <input
      AutoFocusDirective
      [isFocus]="isFocus"
      type="text"
      placeholder="Commencez à taper votre message"
      [(ngModel)]="message"
      (keyup.enter)="sendMessage()"
      (keyup.arrowup)="editLastMessage()"
      (focusout)="isFocus = false"
    />
  </div>

  <div class="new-message" (click)="displayNewMessages()" *ngIf="newMessages">
    <button>De nouveaux messages sont disponibles</button>
  </div>
</div>
