.container {
  background-color: var(--white);
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .tag {
      padding: 3px 10px;
      border-radius: 13px;
      background-color: var(--primary-color);
      color: var(--white);
      display: flex;
      gap: 5px;
      align-items: center;

      .value {
        font-size: 14px;
      }

      .icon {
        color: var(--primary-color);
        background-color: var(--white);
        border-radius: 50%;
        display: inline-flex;
        padding: 2px 5px;
        width: fit-content;
        cursor: pointer;
      }
    }

    input {
      min-width: 100px;
      max-width: 120px;
      font-size: 16px;
      border: none;
      outline: none;
      background-color: transparent;
      padding-left: 0;
    }
  }
}
