<div class="container">
  <div class="tags">
    <div class="tag" *ngFor="let tag of tags; let i = index">
      <div class="value">{{ tag }}</div>
      <fa-icon class="icon" [icon]="deleteIcon" (click)="removeTag(i)"></fa-icon>
    </div>
    <input type="text" [(ngModel)]="tag" (keyup.enter)="addTag()" placeholder="Ajouter un tag" *ngIf="tags.length < 5" />
  </div>
</div>
