<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" placeholder="Nom" formControlName="lastname" />
    <input type="text" placeholder="Prénom" formControlName="firstname" />
    <input type="email" placeholder="Adresse Email" formControlName="email" />
    <input type="password" placeholder="Mot de passe" formControlName="password" />

    <button type="submit" [disabled]="form.invalid">Envoyer</button>
  </form>
</div>
