<mat-drawer-container class="drawer-container" [ngStyle]="{ 'background-color': color ? color.secondary : '' }" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <div class="drawer-side">
      <div class="item" [routerLink]="['/discuss/dashboard']" (click)="drawer.toggle()">
        <fa-icon size="1x" [icon]="dashboardIcon"></fa-icon>
        <div class="value noselect">Dashboard</div>
      </div>

      <div class="item" [routerLink]="['/discuss/profile']" (click)="drawer.toggle()">
        <fa-icon size="1x" [icon]="profileIcon"></fa-icon>
        <div class="value noselect">Profil</div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="drawer-content">
    <div class="header" [ngStyle]="{ 'background-color': color ? color.primary : '', 'box-shadow': color ? '1px 0 3px ' + color.shadow : '' }">
      <!-- LEFT -->
      <div class="left">
        <div class="return" *ngIf="returnPath !== ''" [routerLink]="[returnPath]">
          <fa-icon class="" size="1x" [styles]="{ color: 'white' }" [icon]="returnIcon"></fa-icon>
          <div class="value">Retour</div>
        </div>
      </div>

      <!-- CENTER -->
      <div class="center">
        <ng-container *ngIf="currentDiscuss">
          <div class="item" (click)="changeTab('messages')">
            <fa-icon class="icon" [ngClass]="{ selected: currentTab === 'messages' }" [icon]="messageIcon"></fa-icon>
          </div>
          <div class="item" (click)="changeTab('pinnedMessages')">
            <fa-icon class="icon" [ngClass]="{ selected: currentTab === 'messages' }" [icon]="pinIcon"></fa-icon>
          </div>
          <div class="item" (click)="changeTab('members')">
            <fa-icon class="icon" [ngClass]="{ selected: currentTab === 'members' }" [icon]="usersIcon"></fa-icon>
          </div>
          <div class="item" (click)="changeTab('settings')" *ngIf="isAllowed()">
            <fa-icon class="icon" [ngClass]="{ selected: currentTab === 'settings' }" [icon]="settingsIcon"></fa-icon>
          </div>
        </ng-container>
      </div>

      <!-- RIGHT -->
      <div class="right">
        <fa-icon class="icon" size="2x" [styles]="{ color: 'white', cursor: 'pointer' }" [icon]="burgerMenuIcon" (click)="drawer.toggle()"></fa-icon>
      </div>
    </div>

    <div class="body">
      <router-outlet></router-outlet>
    </div>

    <app-toasts></app-toasts>
  </mat-drawer-content>
</mat-drawer-container>
