.drawer-container {
  height: 100%;
  background-color: var(--secondary-color);
  transition: all 0.7s;
}

.drawer-content {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100%;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    color: var(--white);

    .left,
    .center,
    .right {
      display: flex;
      gap: 10px;
      padding: 10px;
      align-items: center;

      .icon {
        cursor: pointer;
      }
    }

    .left {
      .return {
        display: flex;
        gap: 10px;
        cursor: pointer;

        .value {
          font-size: 16px;
        }
      }
    }

    .center {
      font-size: 20px;
      gap: 20px;
      .item {
        width: 24px;
        .icon {
          color: var(--white);
          transition: all 0.4s;

          &:hover {
            font-size: 24px;
          }
        }
      }
    }
  }

  .body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.drawer-side {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  gap: 20px 10px;
  min-width: 230px;

  .item {
    display: flex;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
    color: var(--primary-color);
    padding: 5px 10px;
    transition: all 0.6s;
    outline: none;

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
      border-radius: 10px;
    }
  }
}
