<div class="container" [ngClass]="{ left: message.ownerId !== userId, right: message.ownerId === userId }">
  <div class="message">
    <div class="response-from" *ngIf="message.responseFrom && !message.isDeleted" [ngStyle]="{ 'background-color': message.ownerId === color.message.reply }">
      {{ message.responseFrom.message }}
    </div>

    <div
      class="value"
      [ngStyle]="{ 'background-color': message.ownerId === userId ? color.message.owner : color.message.other }"
      [ngClass]="{ mine: message.ownerId === userId }"
    >
      <div class="header">
        <div class="owner">{{ message.ownerId | owner }}</div>
        <div class="time">{{ message.updatedAt.toDate() | date: "HH:mm" }}</div>
        <div class="update" *ngIf="!message.createdAt.isEqual(message.updatedAt) && !message.isDeleted">Modifié</div>
      </div>
      <div class="data" [ngClass]="{ deleted: message.isDeleted }">{{ message.isDeleted ? "Message supprimé" : message.value }}</div>
    </div>
  </div>
  <div class="option">
    <fa-icon class="icon" [icon]="optionIcon" *ngIf="message.ownerId === userId" (click)="openOptions()"></fa-icon>
    <fa-icon class="icon" [icon]="replyIcon" *ngIf="message.ownerId !== userId" (click)="reply(message)"></fa-icon>
  </div>
</div>
