.container {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  gap: 10px;

  &:hover {
    .option {
      .icon {
        display: inline-flex;
      }
    }
  }

  .message {
    max-width: 50%;

    .response-from {
      z-index: 2;
      padding: 4px 10px 10px 10px;
      border-radius: 9px;
      width: fit-content;
      background-color: var(--white);
      margin-bottom: -10px;
    }

    .value {
      z-index: 3;
      padding: 4px 10px;
      color: var(--white);
      border-radius: 9px;
      width: fit-content;
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        gap: 15px;

        .time {
          font-size: 12px;
        }

        .update {
          color: var(--white);
          font-style: italic;
          font-size: 11px;
        }
      }

      .deleted {
        font-style: italic;
      }
    }

    .mine {
      float: right;
    }
  }

  .option {
    color: var(--white);
    display: flex;

    .icon {
      display: none;
      font-size: 18px;
      margin-top: 4px;
      cursor: pointer;
    }
  }
}
.left {
  justify-content: flex-start;
  flex-direction: row;
  .message {
    .update {
      text-align: left;
    }
  }
}

.right {
  justify-content: flex-start;
  flex-direction: row-reverse;
  .message {
    .update {
      text-align: right;
    }
  }
}
