.loader-wrapper {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 8, 18, 0.85);

  .message {
    font-weight: 500;
    color: var(--white);
    font-size: 18px;
  }
}
