<div
  class="discuss scale-in-center"
  (mouseover)="hovered = true"
  (mouseleave)="hovered = false"
  [ngStyle]="{ 'background-color': hovered ? getColor('secondary') : getColor('primary'), 'box-shadow': '0 0 3px' + getColor('shadow') }"
  (click)="openDiscuss()"
>
  <h2>{{ discuss.designation }}</h2>

  <app-tags [tags]="discuss.tags" [color]="getColor('primary')"></app-tags>

  <div class="infos">
    <div class="members">
      <fa-icon class="icon" [icon]="usersIcon"></fa-icon>
      <div class="value">{{ discuss.members.length }}</div>
    </div>
    <div class="date">
      <fa-icon class="icon" [icon]="calendarIcon"></fa-icon>
      <div class="value">{{ discuss.createdAt.toDate() | date: "dd/MM/yyyy" }}</div>
    </div>
  </div>
</div>
