.discuss {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.7s;

  h2 {
    text-align: center;
  }

  .infos {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .members {
      margin-bottom: 10px;
    }

    .members,
    .date {
      display: grid;
      grid-template-columns: 25px 1fr;
      gap: 10px;

      .icon {
        width: 25px;
        font-size: 18px;
        text-align: center;
      }
      .value {
        font-size: 16px;
      }
    }
  }
}
