.card {
  background-color: var(--primary-color);
  padding: 20px;
}

input {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0;
  outline: none;
  width: 100%;
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-size-adjust: initial !important;
}

button {
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 7px 15px;
  margin: 0;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--light-grey-color) !important;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.primary-modal {
  .mat-dialog-container {
    background-color: var(--primary-color) !important;
    color: var(--white);
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--white) !important;
}

.bottom-sheet-main-theme,
.bottom-sheet-1,
.bottom-sheet-2,
.bottom-sheet-3,
.bottom-sheet-4,
.bottom-sheet-5,
.bottom-sheet-6,
.bottom-sheet-7,
.bottom-sheet-8,
.bottom-sheet-9 {
  color: var(--white);
}

.bottom-sheet-main-theme {
  background-color: var(--primary-color);
}
.bottom-sheet-1 {
  background-color: #09725d;
  .item {
    &:hover {
      background-color: #10977c;
    }
  }
}
.bottom-sheet-2 {
  background-color: #178d48;
  .item {
    &:hover {
      background-color: #27ae60;
    }
  }
}
.bottom-sheet-3 {
  background-color: #186ca3;
  .item {
    &:hover {
      background-color: #2980b9;
    }
  }
}
.bottom-sheet-4 {
  background-color: #73328f;
  .item {
    &:hover {
      background-color: #8e44ad;
    }
  }
}
.bottom-sheet-5 {
  background-color: #d1760d;
  .item {
    &:hover {
      background-color: #f39c12;
    }
  }
}
.bottom-sheet-6 {
  background-color: #b94a00;
  .item {
    &:hover {
      background-color: #d35400;
    }
  }
}
.bottom-sheet-7 {
  background-color: #c0392b;
  .item {
    &:hover {
      background-color: #d54435;
    }
  }
}
.bottom-sheet-8 {
  background-color: #6f7878;
  .item {
    &:hover {
      background-color: #7f8c8d;
    }
  }
}
.bottom-sheet-9 {
  background-color: #e84393;
  .item {
    &:hover {
      background-color: #f558a4;
    }
  }
}

.overflow-main-theme,
.overflow-1,
.overflow-2,
.overflow-3,
.overflow-4,
.overflow-5,
.overflow-6,
.overflow-7,
.overflow-8,
.overflow-9 {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
  }

  scrollbar-width: auto;
}

.overflow-main-theme {
  &::-webkit-scrollbar {
    background-color: var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }

  scrollbar-color: var(--primary-color) var(--secondary-color);
}

.overflow-1 {
  &::-webkit-scrollbar {
    background-color: #1abc9c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #09725d;
  }

  scrollbar-color: #09725d #1abc9c;
}

.overflow-2 {
  &::-webkit-scrollbar {
    background-color: #2ecc71;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #178d48;
  }

  scrollbar-color: #178d48 #2ecc71;
}

.overflow-3 {
  &::-webkit-scrollbar {
    background-color: #3498db;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #186ca3;
  }

  scrollbar-color: #186ca3 #3498db;
}

.overflow-4 {
  &::-webkit-scrollbar {
    background-color: #9b59b6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #73328f;
  }

  scrollbar-color: #73328f #9b59b6;
}

.overflow-5 {
  &::-webkit-scrollbar {
    background-color: #f1c40f;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d1760d;
  }

  scrollbar-color: #d1760d #f1c40f;
}

.overflow-6 {
  &::-webkit-scrollbar {
    background-color: #e67e22;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b94a00;
  }

  scrollbar-color: #b94a00 #e67e22;
}

.overflow-7 {
  &::-webkit-scrollbar {
    background-color: #e74c3c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c0392b;
  }

  scrollbar-color: #c0392b #e74c3c;
}

.overflow-8 {
  &::-webkit-scrollbar {
    background-color: #95a5a6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6f7878;
  }

  scrollbar-color: #6f7878 #95a5a6;
}

.overflow-9 {
  &::-webkit-scrollbar {
    background-color: #fd79a8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e84393;
  }

  scrollbar-color: #e84393 #fd79a8;
}
