.container {
  h1 {
    .icon {
      font-size: 18px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 20px;

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      button {
        width: 200px;
        color: var(--white);
      }

      .valid {
        background-color: var(--success-color);

        &:disabled {
          background-color: var(--success-color) !important;
        }
      }

      .cancel {
        background-color: var(--error-color);
      }
    }

    .colors {
      display: flex;
      flex-direction: row;
      background-color: var(--white);
      width: 100%;
      padding: 20px 14px;
      justify-content: space-between;

      .color {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;

        .icon {
          color: transparent;
          transition: all 0.6s;
        }
      }

      .selected {
        .icon {
          color: var(--white);
          font-size: 18px;
          margin-top: 4px;
        }
      }
    }

    .tags {
      width: 100%;
    }
  }
}
