<div class="container">
  <h1>Créer un nouveau salon <fa-icon class="icon" [icon]="isPrivate ? lockIcon : lockOpenIcon" (click)="togglePrivate()"></fa-icon></h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" placeholder="Nom" formControlName="designation" />
    <input type="text" placeholder="Description" formControlName="description" />

    <div class="colors">
      <div
        class="color"
        *ngFor="let color of colors"
        [ngClass]="{ selected: selectedColor.primary === color.primary }"
        [ngStyle]="{ 'background-color': color.primary, 'box-shadow': '0 0 3px' + color.shadow }"
        (click)="selectColor(color)"
      >
        <fa-icon class="icon" [icon]="checkIcon"></fa-icon>
      </div>
    </div>

    <app-input-tags class="tags" [(tags)]="tags"></app-input-tags>

    <div class="actions">
      <button type="button" class="cancel" (click)="cancel()">Annuler</button>
      <button type="button" class="valid" (click)="submit()" [disabled]="form.invalid">Créer</button>
    </div>
  </form>
</div>
