<div class="container overflow-main-theme">
  <div class="search-bar">
    <fa-icon class="icon" size="2x" [icon]="plusIcon" (click)="createNewDiscuss()"></fa-icon>

    <input type="text" [(ngModel)]="searchValue" (keyup)="search()" placeholder="Rechercher un salon" />
  </div>

  <div class="discuss-wrapper">
    <div class="my-discuss" *ngIf="myDiscuss.length > 0 && animationindex !== -1">
      <ng-container *ngFor="let discuss of myDiscuss; let i = index">
        <app-discuss-card *ngIf="animationindex >= i" [discuss]="discuss" (discussOpened)="openDiscuss($event)"></app-discuss-card>
      </ng-container>
    </div>

    <div class="no-discuss-available" *ngIf="myDiscuss.length === 0">Vous n'avez rejoint aucun Discuss</div>
  </div>

  <div class="discuss-wrapper">
    <div class="available-discuss" *ngIf="discuss.length > 0">
      <app-discuss-card *ngFor="let item of discuss" [discuss]="item" (discussOpened)="joinDiscuss($event)"></app-discuss-card>
    </div>

    <div class="no-discuss-available" *ngIf="discuss.length === 0">Aucun Discuss Disponible</div>
  </div>
</div>
