.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding: 10px 30px;
  overflow-y: auto;

  .search-bar {
    color: var(--white);
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 0 0 3px var(--primary-shadow);

    .icon {
      cursor: pointer;
      transition: all 0.6s;

      &:hover {
        color: var(--tertiary-color);
      }
    }
  }

  .discuss-wrapper {
    display: flex;
    width: 100%;
    color: var(--white);
    background-color: var(--primary-color);
    box-shadow: 0 0 3px var(--primary-shadow);
    padding: 30px 20px;

    .my-discuss,
    .available-discuss {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
    }
    .no-discuss-available {
      font-size: 22px;
      font-weight: 500;
      width: 100%;
      text-align: center;
    }
  }
}
