<div class="container" *ngIf="discuss && chanel">
  <app-messages
    *ngIf="currentTab === 'messages'"
    [messages]="messages"
    [color]="color"
    (messageSent)="sendMessage($event)"
    (messageUpdated)="updateMessage($event)"
    (messagePinned)="pinMessage($event)"
  ></app-messages>
  <app-members *ngIf="currentTab === 'members'"></app-members>
  <app-settings *ngIf="currentTab === 'settings'"></app-settings>
</div>
