<div class="container">
  <h1>{{ data.title }}</h1>

  <p>{{ data.description }}</p>

  <div class="actions">
    <button class="cancel" (click)="cancel()">Annuler</button>
    <button class="confirm" (click)="confirm()">Confirmer</button>
  </div>
</div>
