.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    color: var(--primary-color);
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 3px;
  }

  p {
    text-align: center;
    font-size: 16px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      border: none;
      border-radius: 3px;
      color: var(--white);
      padding: 10px 20px;
      outline: none;
    }

    .cancel {
      background-color: var(--error-color);
    }

    .confirm {
      background-color: var(--success-color);
    }
  }
}
