.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;

  .tag {
    background-color: var(--white);
    padding: 2px 14px;
    border-radius: 6px;
  }
}
