<div class="container">
  <div class="tabs">
    <div class="headers">
      <div class="header" [ngClass]="{ selected: selectedTab === 1 }" (click)="selectTab(1)">Connexion</div>
      <div class="header" [ngClass]="{ selected: selectedTab === 2 }" (click)="selectTab(2)">Créer un compte</div>
    </div>

    <div class="body">
      <app-sign-in-form *ngIf="selectedTab === 1" (submited)="signIn($event)"></app-sign-in-form>
      <app-register-form *ngIf="selectedTab === 2" (submited)="register($event)"></app-register-form>
    </div>
  </div>
</div>
