.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .tabs {
    width: 500px;
    background-color: var(--primary-color);
    border-radius: 10px;

    .headers {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .header {
        padding: 20px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      .selected {
        background-color: var(--tertiary-color);
        box-shadow: inset -1px -1px 3px var(--secondary-color);
      }

      .selected {
        &:first-child {
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
      }
    }

    .body {
      padding: 20px;
      height: 270px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
