<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="email" placeholder="Adresse Email" formControlName="email" />
    <input type="password" placeholder="Mot de passe" formControlName="password" />

    <button type="submit" [disabled]="form.invalid">Se connecter</button>
  </form>
</div>
