.container {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    gap: 20px;

    button {
      width: 200px;
      background-color: var(--tertiary-color);
      color: var(--white);
      box-shadow: 0 0 3px var(--black);
    }
  }
}
